body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;

}

.content {
    min-width: 500px;
    width: 50%;
    height: 500px;
    margin: 0 auto;
}

.header {
    text-align: center;
    width: 100%;
    clear:both;
    margin-bottom: 25px;
}

.sidebar {
    text-align: left;
    min-width: 150px;
    width: 20%;
    float: left;
    border-right: 2px dashed mediumpurple;
}

.sidebar-content{
    text-align: left;
    padding: 3px;
}

.main {
    font-family: "Roboto Condensed";
    text-align: left;
    width: 65%;
    float: right;
    padding: 5px;
    font-size: 1.1em;
}

.title {
    color: black;
    font-size: 2em;
}

.lang {
    float: left;
    clear: both;
}